{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jijo's App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {% block style %}
    {% endblock style %}
</head>

<body>
    <nav class="navbar navbar-default navbar-expand-sm bg-dark" >
        <div style="width:90%">
            <a href="{% url 'gameapp:home' %}" class="navbar-brand"><img src = "{% static 'mygameapp/images/favicon.png' %}" height='30px'></a>
        </div>
        <a href="{%url 'gameapp:game' %}" >
            <button type="button" class="btn btn-light navbar-btn">Play Again</button>
         </a>     
    </nav>
    {% block content %}
    {% endblock content %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% block javascript %}
    {% endblock javascript %}
</body>

</html>


